<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1.1" package="nl.sluijsens.Todo" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<application android:label="Todo" android:icon="@mipmap/ic_launcher"></application>
</manifest>